<div class="d-md-flex justify-content-md-end mb-4">
  <a href="/dashboard/newpost"><button class="btn btn-primary me-0" id="create-post" type="button">Create a new
      post</button></a>
</div>

{{#each posts as |post|}}
<div class="card mb-3">
  <a href="/dashboard/{{post.id}}">
    <div class="card-header">
      {{post.title}}
    </div>
  </a>
  <div class="card-body">
    <p class="card-text">Date created: {{post.date_created}}</p>
  </div>
</div>
{{/each}}