<div class="mb-3">
    <label for="titleInput" class="form-label">Title</label>
    <input type="input" class="form-control" id="titleInput" data-id="{{post.id}}" value="{{post.title}}">
</div>
<div class="mb-3">
    <label for="textArea" class="form-label">Contents</label>
    <textarea class="form-control" id="textArea" rows="5">{{post.content}}</textarea>
</div>
<button type="submit" class="btn btn-primary" id="updateButton">Update</button>
<button type="submit" class="btn btn-primary" id="deleteButton">Delete</button>

<script src="/js/editPost.js"></script>