<div class="row">
    <form id="login-form" class="col-md-6 border">
        <h2>Login</h2>
        <div class="mb-3">
            <label for="email-login" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="password-login" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-login">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <form id="signup-form" class="col-md-6 border">
        <h2>Sign Up</h2>
        <div class="mb-3">
            <label for="name-signup" class="form-label">Name</label>
            <input type="text" class="form-control" id="name-signup" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="email-signup" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="password-signup" class="form-label">Password</label>
            <input type="password" minlength="8" class="form-control" id="password-signup">
            <div class="form-text">Password should be atleast 8 characters long</div>
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
</div>

<script src="/js/login.js"></script>