<form id="createPostForm">
    <div class="mb-3">
        <label for="titleInput" class="form-label">Title</label>
        <input type="input" class="form-control" id="titleInput" placeholder="Title of post">
    </div>
    <div class="mb-3">
        <label for="textArea" class="form-label">Contents</label>
        <textarea class="form-control" id="textArea" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary header-bg">Create</button>
</form>

<script src="/js/createPost.js"></script>