:root {
    --color1: #0249A3;
    --color2: #A37012;
}

h1 {
    text-align: center;
    padding: 2%;
}

.header-bg {
    background-color: var(--color1);
    color: var(--color2 );
}

body {
    background-color: var(--color2);
}

.customBorder {
    border-style: solid;
    border-color: var(--color1);
    border-width: 1px;
}

a {
    text-decoration: none;
    color: var(--color2);
}
